
body {
    background: #f4f6f9;
}

.sidebar {
    width: 240px;
    height: 100vh;
    position: fixed;
    background: #1f2937;
    padding-top: 20px;
}

.sidebar h4 {
    color: white;
    text-align: center;
    margin-bottom: 30px;
}

.sidebar a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 14px 20px;
}

.sidebar a:hover {
    background: #374151;
}

.content {
    margin-left: 260px;
    padding: 30px;
}
